<ul>
  <li><a [routerLink]="['overview']">Home</a></li>
  <li><a [routerLink]="['application-reference']">Application Reference</a></li>
  <li><a [routerLink]="['application-details']">Application Details</a></li>
  <li><a [routerLink]="['team']">Team Architecture</a></li>
  <li><a [routerLink]="['access-rights']">Access Rights</a></li>
  <li><a [routerLink]="['feedback']">Feedback</a></li>
  <li style="align:right;"><a [routerLink]="['faq']">FAQ</a></li>
  <li style="float: right;margin-right: 5px;margin-top: 10px;"><span style="color: white; font-family: Trebuchet MS, Arial, Helvetica, sans-serif;">Search : </span> <input type="search" style="margin-right: 5px;"></li>
</ul>