/* unvisited link */
a:link {
  color: dark blue;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: royal blue;
}

/* selected link */
a:active {
  color: blue;
}

.container {
  padding: 16px;
  border: 3px solid #f1f1f1;
}

#appRef {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#appRef td, #customers th {
  border: 1px solid #ddd;
  padding-left:8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#appRef tr:nth-child(even){background-color: #f2f2f2;}

#appRef tr:hover {background-color: #ddd;}

#appRef th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}