
<table  id="appRef" *ngIf="applicationReferences">
	<tr>
		<th> Title </th>
		<th> Link </th>
	</tr>
	<tr *ngFor="let appReference of applicationReferences.applicationReference">
		<td>{{appReference.referenceKey}}</td>
		<td><a href="{{appReference.referenceValue}}" target="_blank">{{appReference.referenceValue}}</a></td>
	</tr>
</table>