*, *::after, *::before {
	box-sizing: border-box
}

*::after, *::before {
	content: ''
}

body {
	font-size: 100%;
	font-family: open sans, sans-serif;
	color: #4e5359;
	background-color: #f3f3f5
}

body::after {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(78, 83, 89, .8);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s
}

body.cd-overlay::after {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s
}

@media only screen and (min-width:768px) {
	body::after {
		display: none
	}
}

a {
	color: #a9c056;
	text-decoration: none
}

.cd-nugget-info {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 50px;
	line-height: 50px;
	top: 0;
	left: 0
}

.cd-nugget-info a {
	position: relative;
	font-size: 14px;
	color: #6f8030;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s
}

.no-touch .cd-nugget-info a:hover {
	opacity: .8
}

.cd-nugget-info span {
	vertical-align: middle;
	display: inline-block
}

.cd-nugget-info span svg {
	display: block
}

.cd-nugget-info .cd-nugget-info-arrow {
	fill: #6f8030
}

#carbonads-container, #ui8ads-container {
	position: fixed;
	top: 40px;
	right: 5%;
	width: 180px;
	display: none
}

#carbonads-container .close-carbon-adv, #carbonads-container .close-ui8-adv,
	#ui8ads-container .close-carbon-adv, #ui8ads-container .close-ui8-adv {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 100%;
	background: rgba(78, 83, 89, .8);
	text-indent: 100%;
	overflow: hidden;
	width: 32px;
	height: 32px
}

#carbonads-container .close-carbon-adv:hover, #carbonads-container .close-ui8-adv:hover,
	#ui8ads-container .close-carbon-adv:hover, #ui8ads-container .close-ui8-adv:hover
	{
	background: #4e5359
}

#carbonads-container .close-carbon-adv::after, #carbonads-container .close-carbon-adv::before,
	#carbonads-container .close-ui8-adv::after, #carbonads-container .close-ui8-adv::before,
	#ui8ads-container .close-carbon-adv::after, #ui8ads-container .close-carbon-adv::before,
	#ui8ads-container .close-ui8-adv::after, #ui8ads-container .close-ui8-adv::before
	{
	content: '';
	background-color: #fff;
	height: 2px;
	width: 14px;
	position: absolute;
	top: 14px;
	left: 9px
}

#carbonads-container .close-carbon-adv::after, #carbonads-container .close-ui8-adv::after,
	#ui8ads-container .close-carbon-adv::after, #ui8ads-container .close-ui8-adv::after
	{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

#carbonads-container .close-carbon-adv::before, #carbonads-container .close-ui8-adv::before,
	#ui8ads-container .close-carbon-adv::before, #ui8ads-container .close-ui8-adv::before
	{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

#carbonads-container .carbonad, #carbonads-container .ui8ad,
	#ui8ads-container .carbonad, #ui8ads-container .ui8ad {
	background: rgba(255, 255, 255, .9);
	border: none;
	width: 100%;
	height: auto;
	padding: 14px;
	text-align: center;
	border-radius: 0 3px 3px 3px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .1)
}

#carbonads-container .carbonad .carbonad-image img, #carbonads-container .carbonad .ui8ad-image img,
	#carbonads-container .ui8ad .carbonad-image img, #carbonads-container .ui8ad .ui8ad-image img,
	#ui8ads-container .carbonad .carbonad-image img, #ui8ads-container .carbonad .ui8ad-image img,
	#ui8ads-container .ui8ad .carbonad-image img, #ui8ads-container .ui8ad .ui8ad-image img
	{
	width: 130px
}

#carbonads-container .carbonad .carbonad-image img, #carbonads-container .ui8ad .carbonad-image img,
	#ui8ads-container .carbonad .carbonad-image img, #ui8ads-container .ui8ad .carbonad-image img
	{
	margin: 0 0 10px 10px
}

#carbonads-container .carbonad .ui8ad-image img, #carbonads-container .carbonad .carbon-img img,
	#carbonads-container .ui8ad .ui8ad-image img, #carbonads-container .ui8ad .carbon-img img,
	#ui8ads-container .carbonad .ui8ad-image img, #ui8ads-container .carbonad .carbon-img img,
	#ui8ads-container .ui8ad .ui8ad-image img, #ui8ads-container .ui8ad .carbon-img img
	{
	margin: 0 10px 10px;
	width: 130px
}

#carbonads-container .carbonad .carbon-text, #carbonads-container .carbonad .carbonad-tag,
	#carbonads-container .carbonad .carbon-poweredby, #carbonads-container .carbonad .ui8ad-text,
	#carbonads-container .carbonad .ui8ad-tag, #carbonads-container .ui8ad .carbon-text,
	#carbonads-container .ui8ad .carbonad-tag, #carbonads-container .ui8ad .carbon-poweredby,
	#carbonads-container .ui8ad .ui8ad-text, #carbonads-container .ui8ad .ui8ad-tag,
	#ui8ads-container .carbonad .carbon-text, #ui8ads-container .carbonad .carbonad-tag,
	#ui8ads-container .carbonad .carbon-poweredby, #ui8ads-container .carbonad .ui8ad-text,
	#ui8ads-container .carbonad .ui8ad-tag, #ui8ads-container .ui8ad .carbon-text,
	#ui8ads-container .ui8ad .carbonad-tag, #ui8ads-container .ui8ad .carbon-poweredby,
	#ui8ads-container .ui8ad .ui8ad-text, #ui8ads-container .ui8ad .ui8ad-tag
	{
	font-family: helvetica neue, Arial, sans-serif
}

#carbonads-container .carbonad .carbon-wrap, #carbonads-container .carbonad .ui8ad-text,
	#carbonads-container .ui8ad .carbon-wrap, #carbonads-container .ui8ad .ui8ad-text,
	#ui8ads-container .carbonad .carbon-wrap, #ui8ads-container .carbonad .ui8ad-text,
	#ui8ads-container .ui8ad .carbon-wrap, #ui8ads-container .ui8ad .ui8ad-text
	{
	display: block;
	width: 100%;
	padding: 0
}

#carbonads-container .carbonad .carbon-wrap a, #carbonads-container .carbonad .ui8ad-text a,
	#carbonads-container .ui8ad .carbon-wrap a, #carbonads-container .ui8ad .ui8ad-text a,
	#ui8ads-container .carbonad .carbon-wrap a, #ui8ads-container .carbonad .ui8ad-text a,
	#ui8ads-container .ui8ad .carbon-wrap a, #ui8ads-container .ui8ad .ui8ad-text a
	{
	color: #a9c056;
	font-size: 13px;
	font-weight: 700
}

.no-touch #carbonads-container .carbonad .carbon-wrap a:hover, .no-touch #carbonads-container .carbonad .ui8ad-text a:hover,
	.no-touch #carbonads-container .ui8ad .carbon-wrap a:hover, .no-touch #carbonads-container .ui8ad .ui8ad-text a:hover,
	.no-touch #ui8ads-container .carbonad .carbon-wrap a:hover, .no-touch #ui8ads-container .carbonad .ui8ad-text a:hover,
	.no-touch #ui8ads-container .ui8ad .carbon-wrap a:hover, .no-touch #ui8ads-container .ui8ad .ui8ad-text a:hover
	{
	text-decoration: underline
}

#carbonads-container .carbonad .carbonad-tag, #carbonads-container .carbonad .carbon-poweredby,
	#carbonads-container .carbonad .ui8ad-tag, #carbonads-container .ui8ad .carbonad-tag,
	#carbonads-container .ui8ad .carbon-poweredby, #carbonads-container .ui8ad .ui8ad-tag,
	#ui8ads-container .carbonad .carbonad-tag, #ui8ads-container .carbonad .carbon-poweredby,
	#ui8ads-container .carbonad .ui8ad-tag, #ui8ads-container .ui8ad .carbonad-tag,
	#ui8ads-container .ui8ad .carbon-poweredby, #ui8ads-container .ui8ad .ui8ad-tag
	{
	margin-top: 5px;
	color: #4e5359
}

#carbonads-container .carbonad .carbonad-tag a, #carbonads-container .carbonad .carbon-poweredby a,
	#carbonads-container .carbonad .ui8ad-tag a, #carbonads-container .ui8ad .carbonad-tag a,
	#carbonads-container .ui8ad .carbon-poweredby a, #carbonads-container .ui8ad .ui8ad-tag a,
	#ui8ads-container .carbonad .carbonad-tag a, #ui8ads-container .carbonad .carbon-poweredby a,
	#ui8ads-container .carbonad .ui8ad-tag a, #ui8ads-container .ui8ad .carbonad-tag a,
	#ui8ads-container .ui8ad .carbon-poweredby a, #ui8ads-container .ui8ad .ui8ad-tag a
	{
	color: #4e5359
}

#carbonads-container .carbonad .carbonad-tag a:hover,
	#carbonads-container .carbonad .carbon-poweredby a:hover,
	#carbonads-container .carbonad .ui8ad-tag a:hover, #carbonads-container .ui8ad .carbonad-tag a:hover,
	#carbonads-container .ui8ad .carbon-poweredby a:hover,
	#carbonads-container .ui8ad .ui8ad-tag a:hover, #ui8ads-container .carbonad .carbonad-tag a:hover,
	#ui8ads-container .carbonad .carbon-poweredby a:hover,
	#ui8ads-container .carbonad .ui8ad-tag a:hover, #ui8ads-container .ui8ad .carbonad-tag a:hover,
	#ui8ads-container .ui8ad .carbon-poweredby a:hover, #ui8ads-container .ui8ad .ui8ad-tag a:hover
	{
	color: #a9c056
}

#carbonads-container .carbonad .ui8ad-tag, #carbonads-container .carbonad .carbon-poweredby,
	#carbonads-container .ui8ad .ui8ad-tag, #carbonads-container .ui8ad .carbon-poweredby,
	#ui8ads-container .carbonad .ui8ad-tag, #ui8ads-container .carbonad .carbon-poweredby,
	#ui8ads-container .ui8ad .ui8ad-tag, #ui8ads-container .ui8ad .carbon-poweredby
	{
	display: inline-block;
	font-size: 11px;
	line-height: 15px
}

@media only screen and (min-width:1024px) {
	#carbonads-container, #ui8ads-container {
		display: block
	}
}

header {
	position: relative;
	height: 180px;
	line-height: 180px;
	text-align: center;
	background-color: #a9c056
}

header h1 {
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
	font-size: 1.25rem
}

@media only screen and (min-width:1024px) {
	header {
		height: 240px;
		line-height: 240px
	}
	header h1 {
		font-size: 36px;
		font-size: 2.25rem;
		font-weight: 300
	}
}

.cd-faq {
	width: 90%;
	max-width: 1024px;
	margin: 2em auto;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .1)
}

.cd-faq::after {
	clear: both;
	content: "";
	display: table
}

@media only screen and (min-width:768px) {
	.cd-faq {
		position: relative;
		margin: 4em auto;
		box-shadow: none
	}
}

.cd-faq-categories a {
	position: relative;
	display: block;
	overflow: hidden;
	height: 50px;
	line-height: 50px;
	padding: 0 28px 0 16px;
	background-color: #4e5359;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	white-space: nowrap;
	border-bottom: 1px solid #555b61;
	text-overflow: ellipsis
}

.cd-faq-categories a::before, .cd-faq-categories a::after {
	position: absolute;
	top: 50%;
	right: 16px;
	display: inline-block;
	height: 1px;
	width: 10px;
	background-color: #7f868e
}

.cd-faq-categories a::after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg)
}

.cd-faq-categories li:last-child a {
	border-bottom: none
}

@media only screen and (min-width:768px) {
	.cd-faq-categories {
		width: 20%;
		float: left;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .08)
	}
	.cd-faq-categories a {
		font-size: 13px;
		font-size: .8125rem;
		font-weight: 600;
		padding-left: 24px;
		padding: 0 24px;
		-webkit-transition: background .2s, padding .2s;
		-moz-transition: background .2s, padding .2s;
		transition: background .2s, padding .2s
	}
	.cd-faq-categories a::before, .cd-faq-categories a::after {
		display: none
	}
	.no-touch .cd-faq-categories a:hover {
		background: #555b61
	}
	.no-js .cd-faq-categories {
		width: 100%;
		margin-bottom: 2em
	}
}

@media only screen and (min-width:1024px) {
	.cd-faq-categories {
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		z-index: 2
	}
	.cd-faq-categories a::before {
		display: block;
		top: 0;
		right: auto;
		left: 0;
		height: 100%;
		width: 3px;
		background-color: #a9c056;
		opacity: 0;
		-webkit-transition: opacity .2s;
		-moz-transition: opacity .2s;
		transition: opacity .2s
	}
	.cd-faq-categories .selected {
		background: #42464b !important
	}
	.cd-faq-categories .selected::before {
		opacity: 1
	}
	.cd-faq-categories.is-fixed {
		position: fixed
	}
	.no-js .cd-faq-categories {
		position: relative
	}
}

.cd-faq-items {
	position: fixed;
	height: 100%;
	width: 90%;
	top: 0;
	right: 0;
	background: #fff;
	padding: 0 5% 1em;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0) translateX(100%);
	-moz-transform: translateZ(0) translateX(100%);
	-ms-transform: translateZ(0) translateX(100%);
	-o-transform: translateZ(0) translateX(100%);
	transform: translateZ(0) translateX(100%);
	-webkit-transition: -webkit-transform .3s;
	-moz-transition: -moz-transform .3s;
	transition: transform .3s
}

.cd-faq-items.slide-in {
	-webkit-transform: translateZ(0) translateX(0%);
	-moz-transform: translateZ(0) translateX(0%);
	-ms-transform: translateZ(0) translateX(0%);
	-o-transform: translateZ(0) translateX(0%);
	transform: translateZ(0) translateX(0%)
}

.no-js .cd-faq-items {
	position: static;
	height: auto;
	width: 100%;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0)
}

@media only screen and (min-width:768px) {
	.cd-faq-items {
		position: static;
		height: auto;
		width: 78%;
		float: right;
		overflow: visible;
		-webkit-transform: translateZ(0) translateX(0);
		-moz-transform: translateZ(0) translateX(0);
		-ms-transform: translateZ(0) translateX(0);
		-o-transform: translateZ(0) translateX(0);
		transform: translateZ(0) translateX(0);
		padding: 0;
		background: 0 0
	}
}

@media only screen and (min-width:1024px) {
	.cd-faq-items {
		float: none;
		width: 100%;
		padding-left: 220px
	}
	.no-js .cd-faq-items {
		padding-left: 0
	}
}

.cd-close-panel {
	position: fixed;
	top: 5px;
	right: -100%;
	display: block;
	height: 40px;
	width: 40px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	z-index: 2;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: right .4s;
	-moz-transition: right .4s;
	transition: right .4s
}

.cd-close-panel::before, .cd-close-panel::after {
	position: absolute;
	top: 16px;
	left: 12px;
	display: inline-block;
	height: 3px;
	width: 18px;
	background: #6c7d8e
}

.cd-close-panel::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}

.cd-close-panel::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

.cd-close-panel.move-left {
	right: 2%
}

@media only screen and (min-width:768px) {
	.cd-close-panel {
		display: none
	}
}

.cd-faq-group {
	display: none
}

.cd-faq-group.selected {
	display: block
}

.cd-faq-group .cd-faq-title {
	background: 0 0;
	box-shadow: none;
	margin: 1em 0;
	color: black
}

.no-touch .cd-faq-group .cd-faq-title:hover {
	box-shadow: none
}

.cd-faq-group .cd-faq-title h2 {
	text-transform: uppercase;
	font-size: 12px;
	font-size: .75rem;
	font-weight: 700;
	color: #bbbbc7
}

.no-js .cd-faq-group {
	display: block
}

@media only screen and (min-width:768px) {
	.cd-faq-group {
		display: block
	}
	.cd-faq-group>li {
		background: #fff;
		margin-bottom: 6px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .08);
		-webkit-transition: box-shadow .2s;
		-moz-transition: box-shadow .2s;
		transition: box-shadow .2s
	}
	.no-touch .cd-faq-group>li:hover {
		box-shadow: 0 1px 10px rgba(108, 125, 142, .3)
	}
	.cd-faq-group .cd-faq-title {
		margin: 2em 0 1em
	}
	.cd-faq-group:first-child .cd-faq-title {
		margin-top: 0
	}
}

.cd-faq-trigger {
	position: relative;
	display: block;
	margin: 1.6em 0 .4em;
	line-height: 1.2
}

@media only screen and (min-width:768px) {
	.cd-faq-trigger {
		font-size: 18px;
		font-size: 1.3rem;
		font-weight: 300;
		margin: 0;
		padding: 24px 72px 24px 24px;
		color: blue;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	}
	.cd-faq-trigger::before, .cd-faq-trigger::after {
		position: absolute;
		right: 24px;
		top: 50%;
		height: 2px;
		width: 13px;
		background: #cfdca0;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition-property: -webkit-transform;
		-moz-transition-property: -moz-transform;
		transition-property: transform;
		-webkit-transition-duration: .2s;
		-moz-transition-duration: .2s;
		transition-duration: .2s
	}
	.cd-faq-trigger::before {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		right: 32px
	}
	.cd-faq-trigger::after {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg)
	}
	.content-visible .cd-faq-trigger::before {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg)
	}
	.content-visible .cd-faq-trigger::after {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg)
	}
}

.cd-faq-content p {
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.4;
	color: #6c7d8e
}

@media only screen and (min-width:768px) {
	.cd-faq-content {
		display: none;
		padding: 0 24px 30px
	}
	.cd-faq-content p {
		line-height: 1.6
	}
	.no-js .cd-faq-content {
		display: block
	}
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section, main {
	display: block
}

body {
	line-height: 1
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}