/* body {font-family: Arial, Helvetica, sans-serif;}



input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 9px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}


.container {
  border: 3px solid #f1f1f1;
  padding: 20px;
}

body {font-family: Trebuchet MS", Arial, Helvetica, sans-serif;}
 */
 td,th{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
} 

input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 9px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}


.container {
  border: 3px solid #f1f1f1;
  padding: 20px;
}

