<br>
<br>

<form>

	<fieldset style="width: 30%; margin-left: 35%">
		<legend
			style="color: green; font-weight: bolder; font-size: x-large; font-family: sans-serif;">User Account</legend>
		<table>
			<tr>
				<td>User Name:</td>
				<td><input placeholder="Enter Username" type="text"
					[(ngModel)]="userLogin.userName" name="userName"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input placeholder="Enter Password" type="password"
					[(ngModel)]="userLogin.userPassword" name="userPassword"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><button (click)="login()" style="margin-right: 10px;">Login</button>
				<button (click)="signUp()">SignUp</button></td>
			</tr>

			<!-- <tr>
				<td align="center" colspan="2"><button (click)="signUp()">SignUp</button></td>
			</tr> -->
		</table>
	</fieldset>
	<!-- 

	<table align="center" class="container">
		<tr>
			<td>User Name:</td>
			<td><input placeholder="Enter Username" type="text"
				[(ngModel)]="userLogin.userName" name="userName"></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input placeholder="Enter Password" type="password"
				[(ngModel)]="userLogin.userPassword" name="userPassword"></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><button (click)="login()">Login</button></td>
		</tr>

		<tr>
			<td align="center" colspan="2"><button (click)="signUp()">SignUp</button></td>
		</tr>
	</table> -->
</form>