<h3 align="center" style="color: green;">Access Rights Of You!</h3>
<table id="appRef">
	<tr>
		<td>Bitbucket</td>
		<td>R/W/A</td>
		<td><button>Edit</button></td>
	</tr>
	<tr>
		<td>Jenkins</td>
		<td>R</td>
		<td><button>Edit</button></td>
	</tr>
	<tr>
		<td>Connections</td>
		<td>R/W/A</td>
		<td><button>Edit</button></td>
	</tr>
	<tr>
		<td>Confluence</td>
		<td>R/W</td>
		<td><button>Edit</button></td>
	</tr>
	<tr>
		<td>Jira</td>
		<td>R/W</td>
		<td><button>Edit</button></td>
	</tr>
</table>