<br><br>
<table id="appRef" style="width: 50%; margin-left: 25%">
	<tr>
		<td colspan="2" align="center" style="color: green;">Application Name: HBD Service Component</td>
	</tr>
	<tr>
		<td>First Go-Live: </td>
		<td>02-Oct-2016</td>
	</tr>
	<tr>
		<td>No of PR Deployments: </td>
		<td>34</td>
	</tr>
	<tr>
		<td>No of PR Incidents: </td>
		<td>3</td>
	</tr>
	
	<tr>
		<td colspan="2" align="center" style="color: green;">Application Name: HBD Gateway</td>
	</tr>
	<tr>
		<td>First Go-Live: </td>
		<td>23-Feb-2017</td>
	</tr>
	<tr>
		<td>No of PR Deployments: </td>
		<td>12</td>
	</tr>
	<tr>
		<td>No of PR Incidents: </td>
		<td>2</td>
	</tr>
</table>