#appRef {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#appRef td, #customers th {
  border: 1px solid #ddd;
  padding-left:8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#appRef tr:nth-child(even){background-color: #f2f2f2;}

#appRef tr:hover {background-color: #ddd;}

#appRef th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
