<h2 align="center" style="color: green;">Meet The Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../../assets/images/barath.jpg" alt="Barath" style="width:100%">
      <div class="container">
        <h2>Barath Raj R</h2>
        <p class="title">Developer</p>
        <p>Loves Coding</p>
        <p>barath.raj@infosys.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/images/himani.jpg" alt="Himani" style="width:100%">
      <div class="container">
        <h2>Himani Singh</h2>
        <p class="title">Scrum Master</p>
        <p>Just an ART Lover....</p>
        <p>himani.singh@infosys.com</p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../assets/images/devanshu.jpg" alt="Devanshu" style="width:100% " >
      <div class="container">
        <h2>Devanshu Mishra</h2>
        <p class="title">Tester</p>
        <p>Friendly enough...!!</p>
        <p>devanshu.mishra@infosys.com</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../../assets/images/barath.jpg" alt="Barath" style="width:100%">
      <div class="container">
        <h2>Peter Johnson</h2>
        <p class="title">Product Owner</p>
        <p>Loves Football</p>
        <p>peter.johnson@infosys.com</p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../../assets/images/barath.jpg" alt="Barath" style="width:100%">
      <div class="container">
        <h2>Tom Kenny</h2>
        <p class="title">Run Engineer</p>
        <p>Loves Coding</p>
        <p>tom.kenny@infosys.com</p>
      </div>
    </div>
  </div>
</div>