<form>
	<fieldset style="width: 30%; margin-left: 35%">

		<legend style="color: green; font-weight: bolder; font-size: x-large; font-family: sans-serif;">SignUp</legend>
		<table align="center">
			<tr>
				<td>User Name:</td>
				<td><input placeholder="Enter Username" type="text"
					[(ngModel)]="userDetails.userName" name="userName"></td>
			</tr>
			<tr>
				<td>User EmailId:</td>
				<td><input placeholder="Enter EmailId" type="text"
					[(ngModel)]="userDetails.userEmailId" name="EmailId"></td>
			</tr>
			<tr>
				<td>Employee Number:</td>
				<td><input placeholder="Enter Employee Number" type="text"
					maxlength="6" [(ngModel)]="userDetails.employeeNo"
					name="Employee Number"></td>
			</tr>
			<tr>
				<td>Hobbies:</td>
				<td><input placeholder="Enter Hobbies" type="text"
					[(ngModel)]="userDetails.hobbies" name="Hobbies"></td>
			</tr>
			<tr>
				<td>Employee Role:</td>
				<td class="select"><select
					[(ngModel)]="userDetails.employeeRole" name="Employee Role">
						<option value="Developer">Developer</option>
						<option value="Tester">Tester</option>
						<option value="Run Engineer">Run Engineer</option>
						<option value="Scrum Master">Scrum Master</option>
						<option value="Product owner">Product owner</option>
				</select></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input placeholder="Password" type="password"
					[(ngModel)]="userDetails.password" name="Password"></td>
			</tr>
			<tr>
				<td>Confirm Password:</td>
				<td><input placeholder="Confirm Password" type="password"
					[(ngModel)]="userDetails.password" name="Confirm Password"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><button (click)="signUp()">Submit</button></td>
			</tr>

			<!-- <tr>
			<td align="center" colspan="2"><button (click)="signUp()">SignUp</button></td>
		</tr> -->
		</table>
	</fieldset>



</form>