img:hover {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

h1 {
	color: white;
}

h5 {
	color: white;
}

.footer {
	/* position: fixed; */
	/* left: 7px;
	right: 50px;
	margin-bottom: 0;
	width: 100%;
	background-color: #008B8B;
	color: white;
	text-align: center; */
	
	 position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #008B8B;
   color: white;
   text-align: center;
}

.header {
	background-color: #008B8B;
	padding: 2px;
	text-align: center;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}